# dev files
*.cache
*.dev.py
*.mv
state_dict/
integrated_datasets/
source_datasets.backup/
*.results
*.tokenizer
*.model
*.state_dict
*.config
*.args
*.zip
*.gz
*.bin
*.result.txt
*.DS_Store
*.tmp
*.args.txt
*.summary.txt
*.dat
*.graph


/venv
.bak
.vscode
__pycache__